# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [1]:
dict1 = {x:x**2 for x in range(1,11)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
dict1[5]

25

In [4]:
dict1.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [5]:
dict1[11] = 121

In [6]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [7]:
del dict1[5]

In [8]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [9]:
for key,value in dict1.items():
  print(f"{key} : {value}")

1 : 1
2 : 4
3 : 9
4 : 16
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
11 : 121

In [10]:
dict2 = {x: x**2 for x in range(12,16)}
dict2

{12: 144, 13: 169, 14: 196, 15: 225}

In [12]:
merged_dict = {**dict1, **dict2}
merged_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [13]:
multiples_dict = {}

for num in range(1,6):
  lis = []
  for i in range(1,6):
    lis.append(num * i)

  multiples_dict[num] = lis

multiples_dict

{1: [1, 2, 3, 4, 5],
 2: [2, 4, 6, 8, 10],
 3: [3, 6, 9, 12, 15],
 4: [4, 8, 12, 16, 20],
 5: [5, 10, 15, 20, 25]}

In [14]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [15]:
lis = [(k,v) for k,v in dict1.items()]
lis

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121)]

In [16]:
dict1 = {x:x**2 for x in range(1,6)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
dict2 = {}
for k,v in dict1.items():
  dict2[v] = k

dict2

{1: 1, 4: 2, 9: 3, 2: 4, 25: 5, 3: 9}

Assignment 11: Dictionary Filtering
Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

Assignment 12: Dictionary Key and Value Transformation
Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

Assignment 13: Default Dictionary
Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

Assignment 14: Counting with Dictionaries
Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

Assignment 15: Dictionary and JSON
Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [19]:
dict1 = {x: x**2 for x in range(10)}
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [20]:
filtered_dict = {k:v for k,v in dict1.items() if k%2==0}
filtered_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [23]:
from collections import defaultdict
my_dict = defaultdict(list)
my_dict["apple"].append("kanna")
my_dict

defaultdict(list, {'apple': ['kanna']})

In [24]:
sentence = "This is a something that Im good at the programming"

hash = {}

for char in sentence:
  if char not in hash:
    hash[char] = 1
  else:
    hash[char] +=1

In [25]:
hash

{'T': 1,
 'h': 4,
 'i': 4,
 's': 3,
 ' ': 9,
 'a': 4,
 'o': 4,
 'm': 4,
 'e': 2,
 't': 5,
 'n': 2,
 'g': 4,
 'I': 1,
 'd': 1,
 'p': 1,
 'r': 2}

In [26]:
book = {
    "title": "Na chavu nenu chstha neeku ndhuku",
    "author": "kanna",
    "year": 2022,
    "genre": "comedy"

}

In [29]:
import json

json.dumps(book)

'{"title": "Na chavu nenu chstha neeku ndhuku", "author": "kanna", "year": 2022, "genre": "comedy"}'