# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [1]:
nums=[x for x in range(1,21)]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
even_nums = [num for num in nums if num % 2 == 0]
even_nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
import random

random_nums = [int(random.random()*10) for i in range(20)]
random_nums

[2, 9, 1, 0, 6, 4, 5, 8, 7, 5, 0, 8, 4, 7, 3, 0, 1, 0, 1, 9]

In [4]:
random_nums.sort()
random_nums

[0, 0, 0, 0, 1, 1, 1, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8, 8, 9, 9]

In [5]:
res = []
[res.append(x) for x in random_nums if x not in res]
res

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Learning Sort function more

letters = ['Ford', 'ZMW', 'Volvo']
letters.sort()
letters

['Ford', 'Volvo', 'ZMW']

In [7]:
def fn(word):
  return len(word)

words = ['Ford', 'ZMW', 'Volvo']

words.sort(key=fn)
words

['ZMW', 'Ford', 'Volvo']

Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [8]:
mat= [[1,2,3],[4,5,6],[7,8,9]]
print(mat)
print(mat[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6


Assignment 8: List of Dictionaries
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [9]:
student_1 = {
    "name": "kanna",
    "score": 100
}

student_2 = {
    "name": "manideep",
    "score": 99
}

student_3 = {
    "name": "rama",
    "score": 73
}
student_4 = {
    "name": "ramanth",
    "score": 85
}

students = [student_1,student_2,student_3,student_4]

students

[{'name': 'kanna', 'score': 100},
 {'name': 'manideep', 'score': 99},
 {'name': 'rama', 'score': 73},
 {'name': 'ramanth', 'score': 85}]

In [10]:
def fn(student):
  return student["score"]

students.sort(reverse=True,key= fn)
students

[{'name': 'kanna', 'score': 100},
 {'name': 'manideep', 'score': 99},
 {'name': 'ramanth', 'score': 85},
 {'name': 'rama', 'score': 73}]

Assignment 9: Matrix Transposition
Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [11]:
import copy
mat= [[1,2,3],[4,5,6],[7,8,9]]
trans_mat = copy.deepcopy(mat)
trans_mat[1][0] = 11

In [12]:
print(trans_mat)
print(mat)

[[1, 2, 3], [11, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
for i in range (3):
  for j in range (3):
    trans_mat[i][j] = mat[j][i]

In [14]:
print(trans_mat)
print(mat)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Assignment 10: Flattening a Nested List
Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

Assignment 11: List Manipulation
Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

Assignment 12: List Zipping
Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

Assignment 13: List Reversal
Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists.

Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [17]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
flatten_list = [num for single_list in nested_list for num in single_list]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
nums = [num for num in range(1,11)]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
to_remove= [1,3,5]
new_nums = [num for ind,num in enumerate(nums) if ind not in to_remove]

In [38]:
new_nums

[1, 3, 5, 7, 8, 9, 10]

In [39]:
new_nums.insert(5,99)

In [40]:
new_nums

[1, 3, 5, 7, 8, 99, 9, 10]

Assignment 12: List Zipping Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

Assignment 13: List Reversal Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

Assignment 14: List Rotation Write a function that rotates a list by n positions. Print the original and rotated lists.

Assignment 15: List Intersection Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [47]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_sum = zip(list_1,list_2)
list(list_sum)

[(1, 4), (2, 5), (3, 6)]

In [48]:
list_1.reverse()
list_1

[3, 2, 1]

In [54]:
list_1 = [1,2,3,4,5]
n=2
new_list= list_1[-n:] + list_1[:-n]
new_list

[4, 5, 1, 2, 3]

In [55]:
list_1= [1,2,3]
list_2=[4,5,6,2]

intersection_list = [num for num in list_1 if num in list_2]
intersection_list

[2]